body{
    background-color: black;
}
h1{
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
h2{
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
h4 {
    font-family: "Share Tech Mono", monospace;
    font-weight: 300;
    font-style: normal;
}
p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

#navegacion{
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
#pauseButton{
    margin-left: 70px;
} 
#presentacion{
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url(assets/Imagen00.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.proyecto{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#proyecto-1{
    background-image: url('assets/ElSecretoDeLaSombra.jpg');
}

#proyecto-2{
    background-image: url('assets/GarciaNavarrete_Retrato2.jpg'); 
}

#proyecto-3{
    background-image: url('assets/Art.jpg');
}
#proyecto-4{
    background-image: url('assets/pintura.jpg');
}
#proyecto-5{
    background-image: url('assets/logonuevo.gif');
}
#proyecto-6{
    background-image: url('assets/amapolas.jpg');
}
#proyecto-7{
    background-image: url('assets/Navidad.jpg');
}
#proyecto-8{
    background-image: url('assets/PaseoCiudad.jpg');
}
#proyecto-9{
    background-image: url('assets/PGO.jpg');
}
#proyecto-10{
    background-image: url('assets/DetrasC02.jpg');
}
/* Esta sirve para que los textos se vean */
.text-shadow-1 {
    text-shadow: -2px 0px 6px rgba(0, 0, 0, 1);
}

.texto-gigante{
    font-size: 80px;

}

